* {
  margin: 0;
  padding: 0;
  transition: 0.074s;
  box-sizing: border-box;
}

body {
  top: 50px;
  position: relative;
}

button {
  cursor: pointer;
}

.main {
  top: 0;
  left: 0;
  right: 0;
  gap: 5px;
  z-index: 100;
  display: grid;
  position: fixed;
  padding: 5px 5%;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 60px;
  background-color: rgb(26, 4, 32);
}

.main1 {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 2fr auto;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.name a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 255, 0);
}

.inputSection {
  display: flex;
  margin: 0 10px;
  min-width: 200px;
}

.inputName {
  flex: 1;
  width: 0;
  border: none;
  outline: none;
  max-width: 350px;
  margin-right: -1px;
  padding: 10px 0px 10px 10px;   
  border-radius: 20px 0 0 20px;
  border: 1px solid rgb(0, 255, 0);
}

.searchBtn {
  border: none;
  padding: 10px;
  color: white;
  border-left: 0;
  font-size: 16px;
  border-radius: 0 20px 20px 0;
  background-color: rgb(0, 255, 0);
  border-top: 1px solid rgb(0, 255, 0);
  border-right: 1px solid rgb(0, 255, 0);
  border-bottom: 1px solid rgb(8, 158, 8);
}

.cartDisplay a{
  display: flex;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  flex-direction: column;
  color: rgb(0, 255, 0);
}

.user {
  padding: 5px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: baseline;
  background-color: rgb(0, 250, 0);
}

.user p {
  color: white;
}

.user img {
  width: 100%;
}

.home {
  color: white;
  padding: 35px 5%;
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('images/background-img1.jpg');
}

.welcomeMsg {
  width: 60%;
}

.openMsg {
  font-size: 35px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.shopily {
  color: rgb(0, 255, 0);
}

.description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.shopNowBtn {
  border: none;
  transform: 3s;
  border-radius: 5px;
  background-color: rgb(0, 250, 0);
}

.shopNowBtn a{
  display: flex;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.shopNowBtn a:active{
  background-color: rgb(17, 85, 17);
}

.help {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.helpText:last-child {
  color: black;
}

.helpText {
  padding: 5px;
}

.helpText p {
  padding: 1px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 2px;
  text-align: center;
}

.helpText span {
  font-size: 14px;
}

.shop {
  padding: 15px;
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('images/background-img.jpg');
}

.productsSection {
}

.products {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.topic {
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
  color: rgb(0, 250, 0);
  text-underline-position: above;
}

.underlineMain {
  display: flex;
  margin-top: -5px;
  align-items: center;
  justify-content: center;
}

.underline {
  height: 3px;
  border: none;
  width: 150px;
  margin-top: 1%;
  border-radius: 10px;
  background-color: rgb(0, 255, 0);
}

.productsNav {
  display: flex;
  margin-top: 10px;
  overflow-x: auto;
  align-items: center;
  border-radius: 10px 10px 0 0;
  border: 2px solid;
  background-color: rgb(0, 255, 0);
}

.productsNav button {
  border: none;
  height: 50px;
  padding: 10px;
  color: white;
  cursor: pointer;
  background: none;
  font-weight: bold;
}

.productsNav button:hover {
  opacity: 0.8;
}

.pNText:focus {
  color: whitesmoke;
  background-color: #1a0420;
}

.productsNav::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  height: 20px;
  border-radius: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 10px;
  background-color: rgb(17, 85, 17);
}

::-webkit-scrollbar-thumb:hover {
  background-color: green;
}

@media (max-width: 700px) {
  .products {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .productDesc {
    width: 300px;
  }
}

@media (min-width: 700px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

.productDesc {
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 10px;
}

.productImage{
  display: flex;
  height: 250px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.productImage img{
  height: 100%;
  width: auto;
}

.productDesc h3{
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}

hr {
  height: 4px;
  margin: 5px 10px;
  border-radius: 100px;
  background-color: rgb(199, 230, 20);
}

.products p {
  font-weight: bolder;
  text-align: center;
}

.productDesc a {
  text-decoration: none;
}

.addToCart {
  display: flex;
  color: black;
  padding: 5px 0;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  background-color: rgb(0, 255, 0);
}

.reachUs {
  color: white;
  padding: 10px 20px;
  background-color: #1a0420;
}

.socials p,.location p{
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
}

.socials div{
  display: flex;
  margin-top: 5px;
}

.location {
  margin-top: 15px;
}

.location div {
  display: flex;
}

.reachUs div a{
  margin-left: 5px;
  color: whitesmoke;
  text-decoration: none;
}

.model {
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
}

.formBox {
  gap: 10px;
  display: flex;
  padding: 25px 5%;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
}

.model form {
  gap: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.model form div {
  margin: 5px 0;
}

.model form input{
  border: none;
  padding: 5px;
  font-size: 100%;
  font-weight: bold;
  border-radius: 10px;
}

.model form button {
  padding: 3%;
  color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(0, 250, 0);
  border: 2px solid rgb(17, 85, 17);
}

.noAccount {
  color: white;
  background-color: red;
  cursor: pointer;
}

.xMark {
  font-size: 150%;
  cursor: pointer;
  font-weight: bold;
}