.shoppingCart {
  top: 10px;
  padding: 0 10%;
  position: relative;
}

.shopLink {
  display: flex;
}

.shopLink a{
  padding: 5px;
  display: flex;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(0, 255, 0);
}

.cart {
  margin: 10px 0;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  color: rgb(0, 255, 0);
  background-color: rgb(169, 189, 99);
}

.cartProducts {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: rgb(0, 255, 0);
}

.cartProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.cartProduct .image {
  height: 90px;
  width: 200px;
  border: 2px solid gray;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.cartProduct .image img{
  height: 100%;
}

.cartProductDesc {
  margin: 0 10px;
  border-right: 2px solid;
}

.cartProductPrice {
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  color: rgba(54, 54, 54, 0.904);
}